@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    color: #555;
    font-size: 16px;
    background-color: #FFFFFF;
    line-height: 1.5;
    font-weight: normal;
    font-family: '微软雅黑', YaHei, tahoma, arial, "Hiragino Sans GB";
}

h1, h2, h3, h4, h5 {
    font-family: '微软雅黑', YaHei, tahoma, arial, "Hiragino Sans GB";
}

.bg-warning {
    background: #FF9900;
}

.bg-grey {
    background: #F2F2F2;
}

.bg-white {
    background: #ffffff;
}

.border-shadow {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(145, 139, 145, 1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(145, 139, 145, 1);
    box-shadow: 0px 0px 11px 0px rgba(145, 139, 145, 1);
}

ul.nav > li.active {
    height: 75px;
    color: #FF9900;
    border-bottom: 4px solid #FF9900;
}

.border-bottom {
    border-bottom: 3px solid #666666;

}

.panel-title {
    font-size: 16px;
}

.label-circle {
    border-radius: 50%;
}

/** 圆形进度 **/

.circle {
    width: 45px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle canvas {
    vertical-align: top;
}

.circle strong {
    font-weight: normal;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.panel {
    border-radius: 2px;
    box-shadow: 0 0;
}

.panel > .panel-heading, .panel-default > .panel-heading {
    background-color: #ffffff;

}

.panel-default > .panel-heading, .panel:not([class*=panel-]) > .panel-heading {
    color: #FF9900;
}

th {
    color: #FF9900;
}

table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px 8px 8px 8px;
}

.btn.btn-fab.btn-fab-mini {
    width: 35px;
    height: 35px;
    padding: 8px;
    font-size: 13px;
}

.btn-alpha {
    background: #ffffff;
}

.btn-alpha:hover {
    background: #FF9900;
    color: #ffffff;
}

.footer {
    position: absolute;
    width: 100%;
    background: #666666;
    height: 80px;
}

.footer h4 {
    font-weight: 400;
}

.footer-desc {
    color: #FF9900;
    margin-top: 20px;
}

.top-banner {
    height: 40px;
    background: #666666;
}

.font-white {
    color: #ffffff;
}

.font-color {
    color: #FF9900;
}

.font-black {
    color: #555;
}

a, a:hover {
    color: #FF9900;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

td a {
    color: #666666;
}

td a:hover {
    color: #FF9900;
    text-decoration: none;
}

.logo {
    background: url("../images/logo.png") no-repeat;
}

.navbar {
    height: 110px;
    padding-top: 10px;
    -webkit-box-shadow: 0px 3px 4px 1px #c6c6c6;
    -moz-box-shadow: 0px 3px 4px 1px #c6c6c6;
    box-shadow: 0px 3px 4px 1px #c6c6c6;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 5px;
}

.navbar.navbar, .navbar-default.navbar {
    background-color: #ffffff;
    color: #000000;
}

.navbar .navbar-brand {
    margin-top: 10px;
    position: relative;
    height: 80px;
    width: 300px;
    line-height: 30px;
    color: inherit;
}

.navbar .navbar-nav > li > a {
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    margin-top: 15px;
    font-family: '微软雅黑', YaHei, tahoma, arial, "Hiragino Sans GB";

}

.navbar .navbar-nav > li > a:hover {
    color: #FF9900;
}

.bg-panel-title {
    height: 40px;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    padding-top: 90px;
    margin-bottom: 20px;
    font-size: 24px;
    width: 200px;
}

.panel-desc {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter-transition: all 0.2s ease-in-out;
}

.grey-desc {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

.grey-desc:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
}

.panel-desc:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.bg-tz {
    background-image: url("../images/tz.png");
}

.bg-tz-f {
    background-image: url("../images/tzfs.png");
}

.bg-rz {
    background-image: url("../images/rz.png");
}

.bg-rz-f {
    background-image: url("../images/rzfs.png");
}

.bg-bx {
    background-image: url("../images/bx.png");
}

.bg-bx-f {
    background-image: url("../images/bxfs.png");
}

.label {
    padding: 4px 7px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
}

.label-radius-big {
    border-radius: 20px;
    padding: .4em 1.2em .4em;
}

.label-warning {
    background: #FF9900;
}

.panel-product {
    margin-top: -3px;
    background: url("../images/rjbxf.png") no-repeat;
    background-size: 100% 200px;
    height: 250px;
}

.panel-product .product-header {
    font-size: 24px;
    margin-left: 50px;
    padding-top: 10px;
    color: #ffffff;
    font-weight: bolder;
}

.panel-product .product-header > small {
    font-size: 16px;
    margin-left: 20px;
}

.panel-product .product-desc {
    color: #ffffff;
    margin-left: 50px;
}

.panel-product .percent {
    float: right;
    margin-right: 30px;
    padding-right: 43px;
    background: url("../images/percent.png") no-repeat right;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 43px 68px;
    color: #FF9900;
    font-size: 100px;
}

button.product-btn {
    background: #ffffff;
    border: 2px solid #FF9900;
    padding: 5px 20px;
    color: #FF9900;
    margin-left: 30px;
    margin-top: 80px;
}

button.product-btn:hover {
    background: #FF9900;
    color: #ffffff;
}

i.more-down {
    background: url("../images/more.png") no-repeat;
    background-size: 16px 16px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

i.call {
    background: url("../images/tel.png") no-repeat;
    background-size: 22px 16px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    height: 16px;
    width: 22px;
}

button.btn-more {
    border: 2px solid #FF9900;
    padding: 5px 70px;
    color: #FF9900;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table > thead > tr > th {
    color: #666;
}

.text-warning {
    color: #FF9900;
}

div.news {
    background: url("../images/r.png") no-repeat 0px 5px;
    background-size: 10px 12px;
    padding-left: 20px;
}

ul.slide-left {
    padding: 0px;
    width: 220px;
    float: left;
    margin-left: -10px;
    font-size: 16px;
    -webkit-box-shadow: 9px 9px 13px -5px rgba(102, 102, 102, 1);
    -moz-box-shadow: 9px 9px 13px -5px rgba(102, 102, 102, 1);
    box-shadow: 9px 9px 13px -5px rgba(102, 102, 102, 1);
    background: #FF9900;
    color: #ffffff;

}

ul.slide-left li {
    cursor: pointer;
    width: 100%;
    margin: 15px 0px;
    padding: 15px 0px;
    list-style: none;
}

ul.slide-left a {
    margin-left: 65px;
    font-weight: 400;
    color: #ffffff;
}

ul.slide-left li:hover {
    background: #ffffff;
}

ul.slide-left li:hover > a {
    color: #FF9900;

}

ul.slide-left li.active {
    background: #ffffff;
}

ul.slide-left li.active > a {
    color: #FF9900;

}

ul.child-nav > li {
    margin: 5px 0px;
    padding: 8px 0px;
    font-size: 14px;
}

ul.child-nav li:hover {
    background: #FFE1B3;
}

ul.child-nav li:hover > a {
    color: #FF9900;

}

ul.child-nav li.active {
    background: #FFE1B3;
}

ul.child-nav li.active > a {
    color: #FF9900;

}

.clear-nav {
    margin-top: -20px;
}

a.a-main:hover {
    color: #666666;
}

a.a-main:visited {
    color: #FF9900;
}

ul.signup-step {
    width: 100%;
}

ul.signup-step li {
    list-style: none;
    float: left;
}

ul.signup-step > li.prog {
    height: 25px;
    background: #E1DDDD;
    width: 33%;
    margin-left: -7px;
    margin-top: 26px;
}

ul.signup-step > li.step {
    margin-left: -4px;
}

ul.signup-step > li.step-current {
    background-image: linear-gradient(to right, #FF9900, #E1DDDD 65%);
}

div.step {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bolder;
    line-height: 80px;
    padding-left: 20px;
    background: #E1DDDD;
    margin-bottom: 15px;
}

div.step-current {
    color: #ffffff;
    background: #FF9900;
}

div.step-one {
}

.form-group.has-custom .form-control {
    box-shadow: none;
}

.form-group.has-custom .material-input:focus,
.form-group.has-custom .form-control:focus,
.form-group.has-custom .form-control.focus {
    background-image: linear-gradient(#FF9900, #FF9900), linear-gradient(#d2d2d2, #d2d2d2);
    box-shadow: none;
}

.form-group.has-warning .control-label,
.form-group.has-warning input.form-control:focus ~ .floating-label {
    color: #666666;
}

.btn-custom {
    border: 1px solid #FF9900;
    color: #FF9900;
}

.btn-custom:hover {
    border: 1px solid #FF9900;
}

.btn-custom:not(.btn-link):not(.btn-flat), .btn-custom:not(.btn-link):not(.btn-flat) {
    background-color: transparent;
    color: #FF9900;
}

.text-default {
    color: #666666;
}

form.form-custom > div.form-group {
    margin-top: 40px;
}

.panel-custom {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.panel-custom > .panel-heading {
    background: #FF9900;
    padding: 13px 15px;
    color: #ffffff;
}

.panel-custom > .panel-body {
    padding: 10px 15px;
}

.btn-custom-inverse {
    border: 1px solid #FF9900;
    background: #FF9900;
    color: #ffffff;
}

.btn-custom-inverse:hover {
    border: 1px solid #FF9900;
    color: #FF9900;
}

.btn-custom-inverse:hover:not(.btn-link):not(.btn-flat) {
    background-color: rgba(249, 179, 77, 1);
}

.btn-custom-inverse:not(.btn-link):not(.btn-flat), .btn-custom-inverse:not(.btn-link):not(.btn-flat) {
    background: #FF9900;
    color: #ffffff;
}

span.strong {
    font-size: 18px;
    font-weight: 500;
}

.bordered {
    border: 1px solid #dcdcdc;
}

.bordered-left {
    border-left: 1px solid #dcdcdc;
}

.bordered-right {
    border-right: 1px solid #dcdcdc;
}

.bordered-top {
    border-top: 1px solid #dcdcdc;
}

.bordered-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.bg-dd {
    background: #FFEBCC
}

ul.nav-tabs-custom {
    height: 43px;
    padding: 0px;
    list-style: none;
}

.nav-tabs-custom > li {
    position: relative;
    display: block;
    float: left;
    margin-bottom: -1px;
    padding: 10px 30px 10px 30px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
}

.nav-tabs-custom > li.active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid dodgerblue;
    z-index: 9999;
    padding-bottom: 11px;
}

.nav-tabs-custom > li:not(.active):hover {
    color: #555;
    cursor: pointer;
    background-color: #EEEEEE;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    z-index: 9999;
    padding-bottom: 11px;
}

.alert-custom {
    background: #FFC266;
    color: #000;
}

.alert-custom-2 {
    background: #FFB74C;
    color: #ffffff;
}

.alert {
    margin-bottom: 0px;
}

.tabs-custom-content {
    padding: 20px;
    display: none;
    background: #ffffff;
    margin-top: -11px;
    border: 1px solid #dddddd;
}

div.accountBasicInfo div.row {
    margin: 20px 0;
}

div.accountBasicInfo div.col-md-3 {
    text-align: right;
}

.authenticate {
    background-image: url(../images/ok.png);
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 18px;
    color: #D7CFCF;
}

.noauthenticate {
    cursor: pointer;
    background-image: url(../images/3point.png);
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 18px;
    color: #33A9E0;
}

.text-big {
    font-size: 28px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #FF9900;
    border-color: #FF9900;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 3px 0 20px;
    border-bottom: 3px solid #666666;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    float: left;
    height: 450px;
    width: 100%;
    border: 0;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-weight: normal;
}

.rslides_tabs {
    left: 50%;
    margin-left: -30px;
    position: absolute;
    margin-top: -50px;
    z-index: 99999;
}

.rslides_tabs li {
    background: none repeat scroll 0 0 #aaa;
    border: 1px solid #aaa;
    border-radius: 10px;
    float: left;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    overflow: hidden;
    text-align: center;
}

.rslides_tabs li.rslides_here {
    background: none repeat scroll 0 0 #FF9900;
    border: 1px solid #FF9900;
}

.rslides_tabs li a {
    color: #000;
    padding-left: 20px;
    text-decoration: none;
}

div.dt {
    width: 110px;
    text-align: justify;
    float: left;
    color: #888;
    height: 12px;
}

.dt:after {
    content: "";
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0px;
}

div.dd {
    margin-left: 20px;
    float: left;
}

table.table-padding5-tb td {
    padding-top: 5px;
    padding-bottom: 5px;
}

table.table-center > thead > tr > th, .table-center > tbody > tr > th, .table-center > tfoot > tr > th, .table-center > thead > tr > td, .table-center > tbody > tr > td, .table-center > tfoot > tr > td {
    padding: 15px 8px 8px 120px;
}

table.table-center > thead > tr > td {
    background: #ff9900;
    color: #ffffff;
}
table.table-center td {
    border-color: #ffffff;
}