@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    background-color: #FFFFFF;
    font-family: '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB";
}

ul.nav>li.active {
    border-bottom: 3px solid #ffffff;
}